@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(
        to right,
        hsl(37, 97%, 70%),
        hsl(329, 70%, 58%)
    );
    --youtube: hsl(348, 97%, 39%);
    --very-dark-blue: hsl(230, 17%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 44%);
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    font-size: 10px;
}

html::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: '';
    height: 27rem;
    width: 100%;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    background-color: var(--top-bg);
}

.light-mode {
    --bg: var(--white);
    --top-bg: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --primary-text: var(--dark-grayish-blue);
    --secondary-text: var(--very-dark-blue);
    --toggle-bg: hsl(230, 22%, 74%);
    --toggle-button-bg: var(--white);
    --card-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.dark-mode {
    --bg: var(--very-dark-blue);
    --top-bg: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --primary-text: hsl(228, 34%, 66%);
    --secondary-text: var(--white);
    --toggle-bg: linear-gradient(
        to right,
        hsl(210, 78%, 56%),
        hsl(146, 68%, 55%)
    );
    --toggle-button-bg: var(--very-dark-blue);
    --card-shadow:rgba(241, 241, 241, 0.959) 0px 1px 2px 0px,
    rgb(255, 255, 255) 0px 2px 6px 2px;
}

.app {
    font-family: 'Inter', sans-serif;
    max-width: 144rem;
    margin: 5rem auto;
    padding: 0px 2.5rem;
    color: var(--primary-text);
    background-color: var(--bg);
}

.card {
    width: 32.5rem;
    background-color: var(--card-bg);
    cursor: pointer;
    transition: transform 300ms cubic-bezier(0.55, 0.57, 0.56, 1.33);
}

.card:hover {
    box-shadow: var(--card-shadow);
    transform: translateY(-.8rem);
}

.card--rounded {
    border-radius: 0.5rem;
}

.daily-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.daily-stat.daily-stat--green {
    color: var(--lime-green);
}

.daily-stat.daily-stat--red {
    color: var(--bright-red);
}

.daily-stat .daily-stat__arrow {
    margin-right: 0.5rem;
}

/********** HEADER STYLES ***********/

.header {
    margin-bottom: 4rem;
}

.header .global .app__title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--secondary-text);
}

.header .global .app__global-info {
    margin-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.header .mode-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    border-top: 1px solid var(--dark-grayish-blue);
}

.header .mode-container .mode-container__type {
    font-size: 1.6rem;
    font-weight: 700;
}

.header .mode-container .mode-container__switch {
    position: relative;
    appearance: none;
    height: 2.4rem;
    width: 4.8rem;
    cursor: pointer;
    background: var(--toggle-bg);
    border-radius: 15px;
}

.header .mode-container .mode-container__switch:focus {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

.header .mode-container .mode-container__switch::after {
    position: absolute;
    content: '';
    top: 2px;
    left: 2px;
    width: 2rem;
    height: 2rem;
    background: var(--toggle-button-bg);
    border-radius: 50%;
    transition: transform 300ms cubic-bezier(0.55, 0.57, 0.56, 1.33);
}

.header .mode-container .mode-container__switch:checked::after {
    transform: translateX(2.4rem);
}

/********** MAIN CONTAINER STYLES ***********/

.main-container .social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 2.5rem;
    padding: 2rem 0;
    text-align: center;
}

.social-card::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}

.social-card.social-card--facebook:after {
    background-color: var(--facebook);
}

.social-card.social-card--twitter:after {
    background-color: var(--twitter);
}

.social-card.social-card--instagram:after {
    background-image: var(--instagram);
}

.social-card.social-card--youtube:after {
    background-color: var(--youtube);
}

.social-card .social-card__user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.social-card .social-card__user-info .social-card__icon {
    margin-right: 1rem;
}

.social-card .social-card__user-info .social-card__username {
    font-size: 1.2rem;
    font-weight: 700;
}

.social-card .social-card__total {
    margin-top: 2rem;
    margin-bottom: unset;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--secondary-text);
}

.social-card .social-card__audience {
    margin-top: 0.2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.5rem;
}

/******* OVERVIEW STYLES *******/

.overview-container {
    margin-top: 2rem;
}

.overview-container .overview-title {
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.overview-container .overview-cards-container {
    display: flex;
    flex-direction: column;
}

.overview-card {
    margin-bottom: 2rem;
    padding: 1.7rem 2.5rem;
}

.overview-card > * {
    display: flex;
    justify-content: space-between;
}

.overview-card .overview-card__header {
    margin-bottom: 1.2rem;
    align-items: center;
}

.overview-card .overview-card__title {
    font-size: 1.4rem;
    font-weight: 700;
}

.overview-card .overview-card__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.overview-card .overview-card__total {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-text);
}

.overview-card .daily-stat {
    margin: 0;
    height: 2rem;
}

@media screen and (min-width: 500px) {
    html::before {
        height: 30rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .header .mode-container {
        margin: 0;
        border: 0;
    }

    .header .mode-container .mode-container__type {
        margin: 0 1rem 0 0;
    }

    .main-container .social-container,
    .main-container .overview-cards-container {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
